@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import "tailwindcss";


html, body {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  background: #1C0D30;
  color: #f3f4f6;
  scroll-behavior: smooth;
}

@layer utilities{
  @keyframes loading {
    0% {
      transform: translateX(-100%);
    }
    50% {
      transform: translateX(100%);
    }
    100% {
      transform: translateX(150%);
    }
  }
  .animate-loading-bar{
    animation: loading 1.8s ease infinite;
  }
}

@layer utilities{
  @keyframes blink{
    0%,100% {
      opacity: 1;
    }
    50% {
      opacity: none;
    }
  }
  .animate-blink{
    animation: blink 3.8s step-end infinite;
  }
}